.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .badge {
        transition: none;
    }
}

a.badge:hover, a.badge:focus {
    text-decoration: none;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badgePrimary {
    color: #fff;
    background-color: #007bff;
}

a.badgePrimary:hover, a.badgePrimary:focus {
    color: #fff;
    background-color: #0062cc;
}

a.badgePrimary:focus, a.badgePrimary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.badgeSecondary {
    color: #fff;
    background-color: #6c757d;
}

a.badgeSecondary:hover, a.badgeSecondary:focus {
    color: #fff;
    background-color: #545b62;
}

a.badgeSecondary:focus, a.badgeSecondary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.badgeSuccess {
    color: #fff;
    background-color: #28a745;
}

a.badgeSuccess:hover, a.badgeSuccess:focus {
    color: #fff;
    background-color: #1e7e34;
}

a.badgeSuccess:focus, a.badgeSuccess.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badgeInfo {
    color: #fff;
    background-color: #17a2b8;
}

a.badgeInfo:hover, a.badgeInfo:focus {
    color: #fff;
    background-color: #117a8b;
}

a.badgeInfo:focus, a.badgeInfo.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badgeWarning {
    color: #212529;
    background-color: #ffc107;
}

a.badgeWarning:hover, a.badgeWarning:focus {
    color: #212529;
    background-color: #d39e00;
}

a.badgeWarning:focus, a.badgeWarning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badgeDanger {
    color: #fff;
    background-color: #dc3545;
}

a.badgeDanger:hover, a.badgeDanger:focus {
    color: #fff;
    background-color: #bd2130;
}

a.badgeDanger:focus, a.badgeDanger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badgeLight {
    color: #212529;
    background-color: #f8f9fa;
}

a.badgeLight:hover, a.badgeLight:focus {
    color: #212529;
    background-color: #dae0e5;
}

a.badgeLight:focus, a.badgeLight.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.badgeDark {
    color: #fff;
    background-color: #343a40;
}

a.badgeDark:hover, a.badgeDark:focus {
    color: #fff;
    background-color: #1d2124;
}

a.badgeDark:focus, a.badgeDark.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}