.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 1.3rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
    cursor: pointer;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(56, 147, 208, 0.5);
}

.btn.disabled, .btn:disabled {
    opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btnPrimary {
    color: #fff;
    background-color: #3893D0;
    border-color: #3893D0;
}

.btnPrimary:hover {
    color: #fff;
    background-color: #3483b9;
    border-color: #3483b9;
}

.btnPrimary:focus, .btnPrimary.focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 147, 208, 0.5);
}

.btnPrimary.disabled, .btnPrimary:disabled {
    color: #fff;
    background-color: #3893D0;
    border-color: #3893D0;
}

.btnPrimary:not(:disabled):not(.disabled):active, .btnPrimary:not(:disabled):not(.disabled).active,
.show > .btnPrimary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btnPrimary:not(:disabled):not(.disabled):active:focus, .btnPrimary:not(:disabled):not(.disabled).active:focus,
.show > .btnPrimary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 147, 208, 0.5);
}

.btnSecondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btnSecondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btnSecondary:focus, .btnSecondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btnSecondary.disabled, .btnSecondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btnSecondary:not(:disabled):not(.disabled):active, .btnSecondary:not(:disabled):not(.disabled).active,
.show > .btnSecondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btnSecondary:not(:disabled):not(.disabled):active:focus, .btnSecondary:not(:disabled):not(.disabled).active:focus,
.show > .btnSecondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}


.btnLg, .btnGroupLg > .btn {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    line-height: 1.3;
    border-radius: 0.15rem;
}

.btnGroupAppend {
    font-size: 0.8rem;
}