$break-extra-small: 0;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;

.container {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $break-small) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $break-medium) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: $break-large) {
    .container {
        max-width: 980px;
    }
}