$duration: 2s;
$topDistance: -5px;

.fadeIn{
    animation: animationFrames ease $duration;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease $duration;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: animationFrames ease $duration;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames ease $duration;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames ease $duration;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/

}

@keyframes animationFrames{
    0% {
        opacity:0;
        transform:  translate(0px,$topDistance)  ;
        z-index: 1;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
        z-index: 1;
    }
}

@-moz-keyframes animationFrames{
    0% {
        opacity:0;
        -moz-transform:  translate(0px,$topDistance)  ;
        z-index: 1;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
        z-index: 1;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity:0;
        -webkit-transform:  translate(0px,$topDistance)  ;
        z-index: 1;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
        z-index: 1;
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity:0;
        -o-transform:  translate(0px,$topDistance)  ;
        z-index: 1;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
        z-index: 1;
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity:0;
        -ms-transform:  translate(0px,$topDistance)  ;
        z-index: 1;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
        z-index: 1;
    }
}