input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.dropdown {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem green; //rgba(56, 147, 208, 0.5);
    }
}

.cardBody {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.FilterOptions {

}

.filterToggler {
    white-space: nowrap;

    &::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        float: right;
        margin-top: 7px;
    }

    &:empty::after {
        margin-left: 0;
    }

}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: calc(100% + 30px);
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    color: #333;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;

    &.show {
        display: block;
    }
}

.filterOption {
    background-color: yellow;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: left;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    &:focus {
        //box-shadow: 0 0 0 0.2rem rgba(56, 147, 208, 0.5);
        //box-shadow: inset  0 0 0 1px rgba(56, 147, 208, 0.5);
    }

    &:disabled {
        cursor: not-allowed;
        color: #CCC;
    }
}


.ContainSelectedFilters {
    border: solid 1px rgba(56, 147, 208, 0.8);
}