$borderRadius: 0.25rem;
.closeIcon {
    display: inline-block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #666;
    border-radius: 100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%);
    background-color: #666;
    transition: all 0.3s ease;
    margin-bottom: -2px;
    margin-left: 8px;

    &:hover {
        background-color: #333;
        border-color: #333;
    }
}

.selectedFilters {
    display: flex;

    .clearAll {
        padding: 0.6em 1em;
        border-radius: $borderRadius;
        background-color: rgba(0,0,0,0.1);
        border: 0;
        cursor: pointer;
        margin-left: 8px;
        &:hover {
            background-color: rgba(0,0,0,0.15);
        }
    }

    .selectedFilter {
        margin-right: 3px;
        border: solid 1px rgba(0, 0, 0, 0.04);
        padding: 5px 5px;
        display: inline-block;
        border-radius: $borderRadius;
        margin-bottom: 3px;
        cursor: default;
    }

    .selectedFiltersLeft {
        min-width: 185px;
    }

    .selectedFiltersRight {
        & span {
            &:hover {
                background-color: rgba(0, 0, 0, 0.02);
            }
        }
    }
}

.filterCheckbox {
    cursor: pointer;
    position: relative;
    display: block;
    padding-left: 1.25rem;

    input, label {
        cursor: pointer;
    }
}

.filterCheckboxInput {
    position: absolute;
    margin-left: -1.25rem;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:disabled ~ .filterCheckboxLabel {
        color: #6c757d;
        cursor: not-allowed;
    }
}

.filterCheckboxLabel {
    margin-bottom: 0;
    cursor: pointer;
}

.colourSquare {
    float: right;
    margin-top: -2px;

    & img {
        width: 20px;
        height: 20px;
        border: solid 1px rgba(0, 0, 0, 0.15);
        border-radius: $borderRadius;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.dropdownItem {
    display: block;
    padding: 0.4rem 0.5rem;
    clear: both;
    font-weight: 400;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    &:last-child {
        border-bottom: none;
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0.03);
    }
}

.selectedFiltersContainer {
    background-color: red;

    & > .selectedFiltersInput {
        min-width: 190px;
        float: left;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: $borderRadius;
        padding: 0.375rem 0.75rem;
    }

    & > .selectedFiltersList {
        float: left;
        width: calc(100% - 220px);
        padding: 5px 15px;
    }

}

.loadingFilters {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

