input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

.formControl {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    &:focus {
        color: #333;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(56, 147, 208, 0.5);
    }

    &::-webkit-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &:disabled, &[readonly] {
        background-color: #e9ecef;
        opacity: 1;
    }

}
select.formControl:focus::-ms-value {
    color: #495057;
    background-color: #fff;
    &.formControl[size], &.formControl[multiple] {
        height: auto;
    }
}
.formGroup {
    margin-bottom: 1rem;
}

.formInline .formControl {
    display: inline-block;
    width: auto;
    vertical-align: middle;

    & .formGroup {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }
}

.inputGroup {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.inputGroup > .formControl,
.inputGroup > .formControlPlaintext,
.inputGroup > .customSelect,
.inputGroup > .customFile {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.inputGroupPrepend,
.inputGroupAppend {
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.inputGroupPrepend .btn,
.inputGroupAppend .btn {
    position: relative;
    z-index: 2;
}

.inputGroupPrepend .btn:focus,
.inputGroupAppend .btn:focus {
    z-index: 3;
}

.inputGroupPrepend .btn + .btn,
.inputGroupPrepend .btn + .inputGroupText,
.inputGroupPrepend .inputGroupText + .inputGroupText,
.inputGroupPrepend .inputGroupText + .btn,
.inputGroupAppend .btn + .btn,
.inputGroupAppend .btn + .inputGroupText,
.inputGroupAppend .inputGroupText + .inputGroupText,
.inputGroupAppend .inputGroupText + .btn {
    margin-left: -1px;
}

.inputGroupPrepend {
    margin-right: -1px;
}

.inputGroupAppend {
    margin-left: -1px;
}
