.productsAndFiltersContainer {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #333333;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    /*debug*/
    /*
    background: rgba(0,0,0,.001);
    background-image: linear-gradient(45deg, rgba(0,0,0,.1) 25%, transparent 0, transparent 75%, rgba(0,0,0,.1) 0),
    linear-gradient(45deg, rgba(0,0,0,.1) 25%, transparent 0, transparent 75%, rgba(0,0,0,.1) 0);
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
    */
}

.autoGrid {
    --autoGrid-min-size: 14rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.autoGrid > * {
    max-width: 400px;
}

.autoGrid > * + * {
    margin-top: 1rem;
}

@supports (display: grid) {
    .autoGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--autoGrid-min-size), 1fr));
        grid-gap: 1rem;
    }

    .autoGrid > * {
        max-width: unset;
    }

    .autoGrid > * + * {
        margin-top: unset;
    }
}