$borderRadius: 0.25rem;

.view {
    position: absolute;
    height: auto;
    width: 220px;
    top: 0px;
    background: #fff;
    z-index: 200;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    border: solid 1px rgba(0, 0, 0, 0.1);

    .inner {
        padding: 10px 15px;
    }

    &Left {
        composes: view;
        /*left: -172px;*/
        right: calc(100% - 0px);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.1s linear;
    }

    &Right {
        composes: view;
        /*right: -172px;*/
        right: calc(-100% + 10px);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.1s linear;
    }

    & h3 {
        margin: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #3893D0;
    }

    & h5 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 12px;
    }

    & p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;
    }

    & .descContainer {
        margin-bottom: 20px;

        &.descColours {
            & li {
                float: left;
                margin-right: 3px;

                & img {
                    border: solid 1px rgba(0, 0, 0, 0.3);
                    border-radius: 2px;
                    width: 14px;
                    height: 14px;
                }
            }
        }

        &.descCustomisations {
            & li {

            }

        }

        &.descSizes {
            & li {
                float: left;
                margin: 0 3px 3px 0;
                background-color: #6c757d;
                color: #fff;
                border-radius: 3px;
                padding: 1px 4px;
                font-size: 90%;
            }
        }

        & ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    }
}

