/*

Where property is one of:

m - for classes that set margin
p - for classes that set padding
Where sides is one of:

t - for classes that set margin-top or padding-top
b - for classes that set margin-bottom or padding-bottom
l - for classes that set margin-left or padding-left
r - for classes that set margin-right or padding-right
x - for classes that set both *-left and *-right
y - for classes that set both *-top and *-bottom
blank - for classes that set a margin or padding on all 4 sides of the element

*/

.m0 {
    margin: 0 !important;
}

.mt0,
.my0 {
    margin-top: 0 !important;
}

.mr0,
.mx0 {
    margin-right: 0 !important;
}

.mb0,
.my0 {
    margin-bottom: 0 !important;
}

.ml0,
.mx0 {
    margin-left: 0 !important;
}

.m1 {
    margin: 0.25rem !important;
}

.mt1,
.my1 {
    margin-top: 0.25rem !important;
}

.mr1,
.mx1 {
    margin-right: 0.25rem !important;
}

.mb1,
.my1 {
    margin-bottom: 0.25rem !important;
}

.ml1,
.mx1 {
    margin-left: 0.25rem !important;
}

.m2 {
    margin: 0.5rem !important;
}

.mt2,
.my2 {
    margin-top: 0.5rem !important;
}

.mr2,
.mx2 {
    margin-right: 0.5rem !important;
}

.mb2,
.my2 {
    margin-bottom: 0.5rem !important;
}

.ml2,
.mx2 {
    margin-left: 0.5rem !important;
}

.m {
    margin: 1rem !important;
}

.mt3,
.my3 {
    margin-top: 1rem !important;
}

.mr3,
.mx3 {
    margin-right: 1rem !important;
}

.mb3,
.my3 {
    margin-bottom: 1rem !important;
}

.ml3,
.mx3 {
    margin-left: 1rem !important;
}

.m4 {
    margin: 1.5rem !important;
}

.mt4,
.my4 {
    margin-top: 1.5rem !important;
}

.mr4,
.mx4 {
    margin-right: 1.5rem !important;
}

.mb4,
.my4 {
    margin-bottom: 1.5rem !important;
}

.ml4,
.mx4 {
    margin-left: 1.5rem !important;
}

.m5 {
    margin: 3rem !important;
}

.mt5,
.my5 {
    margin-top: 3rem !important;
}

.mr5,
.mx5 {
    margin-right: 3rem !important;
}

.mb5,
.my5 {
    margin-bottom: 3rem !important;
}

.ml5,
.mx5 {
    margin-left: 3rem !important;
}

.p0 {
    padding: 0 !important;
}

.pt0,
.py0 {
    padding-top: 0 !important;
}

.pr0,
.px0 {
    padding-right: 0 !important;
}

.pb0,
.py0 {
    padding-bottom: 0 !important;
}

.pl0,
.px0 {
    padding-left: 0 !important;
}

.p1 {
    padding: 0.25rem !important;
}

.pt1,
.py1 {
    padding-top: 0.25rem !important;
}

.pr1,
.px1 {
    padding-right: 0.25rem !important;
}

.pb1,
.py1 {
    padding-bottom: 0.25rem !important;
}

.pl1,
.px1 {
    padding-left: 0.25rem !important;
}

.p2 {
    padding: 0.5rem !important;
}

.pt2,
.py2 {
    padding-top: 0.5rem !important;
}

.pr2,
.px2 {
    padding-right: 0.5rem !important;
}

.pb2,
.py2 {
    padding-bottom: 0.5rem !important;
}

.pl2,
.px2 {
    padding-left: 0.5rem !important;
}

.p3 {
    padding: 1rem !important;
}

.pt3,
.py3 {
    padding-top: 1rem !important;
}

.pr3,
.px3 {
    padding-right: 1rem !important;
}

.pb3,
.py3 {
    padding-bottom: 1rem !important;
}

.pl3,
.px3 {
    padding-left: 1rem !important;
}

.p4 {
    padding: 1.5rem !important;
}

.pt4,
.py4 {
    padding-top: 1.5rem !important;
}

.pr4,
.px4 {
    padding-right: 1.5rem !important;
}

.pb4,
.py4 {
    padding-bottom: 1.5rem !important;
}

.pl4,
.px4 {
    padding-left: 1.5rem !important;
}

.p5 {
    padding: 3rem !important;
}

.pt5,
.py5 {
    padding-top: 3rem !important;
}

.pr5,
.px5 {
    padding-right: 3rem !important;
}

.pb5,
.py5 {
    padding-bottom: 3rem !important;
}

.pl5,
.px5 {
    padding-left: 3rem !important;
}
