.trustpilotReviewBlock {
    position: absolute;
    margin-bottom: 0px;
    padding: 5px 3px;
    border-radius: 2px;
    text-align: center;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    bottom: 10px;

    img {
        width: 100px;
        margin-right: 10px;
        vertical-align: text-bottom;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }
}

.breakdown {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 300;
    text-align: left;

    .inner {
        padding-bottom: 5px;
        background: #fff;
        border-radius: 2px;
        padding: 1rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 19px;
            right: 20px;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid rgba(0, 0, 0, 0.1);
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 20px;
            right: 21px;
            z-index: 5;

            width: 0;
            height: 0;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;

            border-bottom: 11px solid #fff;
        }

        .rating {
            margin: 0;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }

        .row {
            margin-bottom: 7px;
            z-index: 250;
            // padding: 10px;
            &:last-child {
                margin-bottom: 0;
            }

            .key {
                display: inline-block;
                width: 32%;
                vertical-align: super;
            }

            .bar {
                display: inline-block;
                width: 40%;
                height: 5px;
                background: rgba(0, 0, 0, 0.1);

                > div {
                    display: inline-block;
                    vertical-align: super;
                    margin-bottom: 2px;
                    height: inherit;
                }
            }

            .count {
                float: right;
                font-weight: bold;
            }
        }
    }
}