.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

.floatNone {
    float: none !important;
}

.loaderContainer {
    justify-content: center;
    margin: 80px 0;
    text-align: center;

    & span {
        display: block;
        margin: 10px 0;
        font-size: 90%;
        font-style: italic;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
    }

    & .loader {
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid #3893D0; /* Blue */
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 1s linear infinite;
        display: block;
        margin: 0 auto;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.textMuted {
    color: rgba(0, 0, 0, 0.5);
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}

.textLowercase {
    text-transform: lowercase !important;
}

.textUppercase {
    text-transform: uppercase !important;
}

.textCapitalize {
    text-transform: capitalize !important;
}

.dNone {
    display: none !important;
}

.dInline {
    display: inline !important;
}

.dInlineBlock {
    display: inline-block !important;
}

.dBlock {
    display: block !important;
}

.dTable {
    display: table !important;
}

.dTableRow {
    display: table-row !important;
}

.dTableCell {
    display: table-cell !important;
}

.dFlex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.dInlineFlex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.loadingBg {
    background: linear-gradient(214deg, #ffffff, #b7b7b7);
    background-size: 400% 400%;

    -webkit-animation: loadingBgeffect 1s ease infinite;
    -moz-animation: loadingBgeffect 1s ease infinite;
    -o-animation: loadingBgeffect 1s ease infinite;
    animation: loadingBgeffect 1s ease infinite;
}

@-webkit-keyframes loadingBgeffect {
    0% {
        background-position: 79% 0%
    }
    50% {
        background-position: 22% 100%
    }
    100% {
        background-position: 79% 0%
    }
}

@-moz-keyframes loadingBgeffect {
    0% {
        background-position: 79% 0%
    }
    50% {
        background-position: 22% 100%
    }
    100% {
        background-position: 79% 0%
    }
}

@-o-keyframes loadingBgeffect {
    0% {
        background-position: 79% 0%
    }
    50% {
        background-position: 22% 100%
    }
    100% {
        background-position: 79% 0%
    }
}

@keyframes loadingBgeffect {
    0% {
        background-position: 79% 0%
    }
    50% {
        background-position: 22% 100%
    }
    100% {
        background-position: 79% 0%
    }
}

.imgFluid {
    max-width: 100%;
    height: auto;
}

.imgThumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}
